{
  "presets": [ "stage-1", "react" ],
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-assign",
        [
          "transform-es2015-classes",
          { "loose": true }
        ],
        [
          "transform-es2015-for-of",
          { "loose": true }
        ]
      ]
    },
    "webpack": {
      "presets": [
        ["env", { "modules": false }]
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-assign",
        [
          "transform-es2015-classes",
          { "loose": true }
        ],
        [
          "transform-es2015-for-of",
          { "loose": true }
        ]
      ]
    }
  }
}
