/* Clear default tap background color */
a,
button,
input,
div {
  -webkit-tap-highlight-color: rgba(255,0,0,0);
}

ol,
ul {
  list-style: none;
}

.fj-img-fill {
  max-width: 100%;
  height: auto;
}

/* import all modules */
@import "common";
@import "pagination";
