.fj-btn {
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    color: #333;
    line-height: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}

.fj-btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.fj-btn:hover,
.fj-btn:focus {
    text-decoration: none;
}

.fj-btn.fj-selected {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.fj-btn.fj-disabled,
.fj-btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
}

.fj-btn-hover {
    background-color: #9bd1f6 !important;
}
